html {
	font-size: 10px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Be Vietnam Pro", sans-serif;
	line-height: 1.8;
}

header {
	font-size: 2.1em;
	font-weight: 550;
}

li {
	list-style: none;

}

h2{
    font-size: 1.8em;
    font-weight: 510;
    text-transform: capitalize;
    margin:5px 0;
}

p {
	font-size: 1.2em;
}

.wrapper {
	width: 95%;
	margin: 0 auto;
	
	display: grid;
	grid-auto-columns: minmax(100px, auto);
	grid-auto-rows: minmax(100px, auto);
	grid-template-areas:
		"nav"
		"body";
}

.nb{
    display: block;
    background-color: #a6a6e6;
    font-size:1.2em;
}

#navbar {
	grid-area: nav;
	height: 100px;
    width:95vw;
	text-align: center;
	overflow-y: scroll;
	border: 2px double #333333;
	margin-bottom: 5px;
  
}

.main-list>li{
	margin-left: 20px;
font-size: 1.2em;
	text-align: center;
	list-style: lower-roman;
}

.nav-link {
    display: block;
    padding: 1.4em;
	text-decoration: none;
	font-size: 1.6em;
	color: #2e2c2c;
	border: 1px solid #706f6f;
	background-color: #f8f5f5;
}

.nav-link:hover {
	background-color: #b8b2b2;
}

#main-doc {
	grid-area: body;
    height:100vh;
    
}


.inline-snippet {
	display: inline-block;
	background-color: #dfdfdf;
	padding: 3px;
	margin: 0 5px;
	border: 0.5px solid #c9c7c7;
}



pre {
	text-align: center;
	white-space: pre-line;
    max-width: 100%;
	display: block;
	background-color: #dfdfdf;
	margin: 3em 1em;
	border-left: 4px solid #9191ce;
	border-bottom: 2px solid #c9c7c7;
	border-right: 2px double #c9c7c7;
	border-top: 2px solid #c9c7c7;
	border-radius: 2px;
}

.snippet {
	font-size: 1.2em;
	font-family: "Courier New", Courier, monospace;
}


@media (min-width: 800px) {
	.wrapper {
		grid-template-columns: 1fr 3fr;

		grid-template-areas: "nav body";
	}

	#navbar {
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		border-right: 4px double;
		border-color: #cabfbf;
		width: 300px;
        min-width: 250px;
        
	}

	
	.main-list>li{
font-size: 1.6em;}

	#main-doc {
		height: 100vh;
		overflow-y: scroll;
      margin-left:120px;
	}


    p{font-size: 1.6em;}
}

@media(min-width:1100px){
    #navbar{
        width:400px;
    }

    
}